### Heroes Of Pymoli Data Analysis
* From this analysis we can see that we have total of 576 players and over 80% of players are males who are responsible for the total highest revenue. 


* Majority of purchases made by players lie under the age-group of 20-25, making 45% of total revenue.


* The most popular and most profitable item sold was "Oathbreaker Last Hope of the Breaking Storm" with a total purchase count of '12' and total value of $50.76 .
-----

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#total number of players
total_players = len(df["SN"].value_counts())
total_players

#dataframe formatting
dataframe = pd.DataFrame({"Total Player": [total_players]})
dataframe

   Total Player
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#obtain number of unique items
unique_items = len(df["Item ID"].value_counts())
unique_items

#calculate average price
average_price = round(df["Price"].mean(), 2)
average_price

#total number of purchases
purchases = df["Price"].count()
purchases

#calculate total revenue
total_revenue = df["Price"].sum()
total_revenue

#dataframe formatting
dataframe = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases": [purchases], "Total Revenue": [total_revenue]})
dataframe

data_format = dataframe.style.format({"Average Price": "${:.2f}", "Total Revenue": "${:,.2f}"})
data_format

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#drop duplicates
drop_d = df.drop_duplicates(['SN'], keep='last')

#total gender count
gender_count = drop_d["Gender"].value_counts()
gender_count

gender = drop_d["Gender"].count()
gender

#calculate percentage by gender
percentage = round((gender_count/gender)*100, 2)
percentage

#dataframe formatting
dataframe = pd.DataFrame({"Total count": gender_count, "Percentage by gender": percentage})
dataframe

data_format = dataframe.style.format({"Percentage by gender": "{:.2f}%"})
data_format


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#groupby data with gender
g_group = df.groupby('Gender')
g_group
g_group.count()

#calculate Purchase Count
purchase_count = g_group['Item Name'].count()
purchase_count

#find Average Purchase Price
avg_price = round(g_group['Price'].mean(), 2)
avg_price

#find Total Purchase Price
total_value = g_group['Price'].sum()
total_value

#drop duplicates
drop_d = df.drop_duplicates(['SN'], keep='last')

gender = drop_d["Gender"].value_counts()
gender

#calculate Avg Total Purchase per Person
avg_per_person = round(total_value/gender, 2)
avg_per_person

#dataframe formatting
dataframe = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_price, "Total Purchase Value": total_value, "Avg Total Purchase per Person": avg_per_person})
dataframe

data_format = dataframe.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:,.2f}", "Avg Total Purchase per Person": "${:.2f}"})
data_format

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# Create age bins
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99.9]

# Create labels for these bins
group_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Slice the data and place it into bins
pd.cut(df["Age"], bins, labels=group_labels).head()

# Place the data series into a new column inside of the DataFrame
df["Age Group"] = pd.cut(df["Age"], bins, labels=group_labels)
df.head()

# Drop duplicates
drop_d = df.drop_duplicates(['SN'], keep='last')

# Groupby Age Group
df_group = drop_d.groupby("Age Group")

# Calculate total count
total_count = drop_d["Age Group"].value_counts()
total_count

count = drop_d['SN'].count()
count

# Calculate percentage of players
percentage = round((total_count/count)*100, 2)
percentage

# Dataframe formatting and sorting by total count
dataframe = pd.DataFrame({"Total Count": total_count, "Percentage of Players": percentage})
dataframe

dataframe = dataframe.sort_values("Total Count", ascending=True)
dataframe

data_format = dataframe.style.format({"Percentage of Players": "{:.2f}%"})
data_format

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Create age bins
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99.9]

# Create labels for these bins
group_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Slice the data and place it into bins
pd.cut(df["Age"], bins, labels=group_labels).head()

# Place the data series into a new column inside of the DataFrame
df["Age Group"] = pd.cut(df["Age"], bins, labels=group_labels)
df.head()

# Groupby Age Group
df_group = df.groupby("Age Group")

# Calculate purchase count
purchase_count = df_group['Item Name'].count()
purchase_count

# Calculate average purchase
avg_purchase = round(df_group['Price'].mean(), 2)
avg_purchase

# Calculate total purchase
total_purchase = df_group['Price'].sum()
total_purchase

# Calculate average total purchase per person
avg_per_person = round(total_purchase/total_count, 2)
avg_per_person

# Dataframe formatting
dataframe = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchase, "total Purchase Value": total_purchase, "Avg Total Purchase per person": avg_per_person})
dataframe

data_format = dataframe.style.format({"Average Purchase Price": "${:.2f}", "total Purchase Value": "${:,.2f}", "Avg Total Purchase per person": "${:.2f}"})
data_format

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [173]:
#groupby data SN
df_group = df.groupby('SN')

#total purchase count
purchase_count = df_group['Item Name'].count()
purchase_count.head()

#calculate average price
avg_price = round(df_group['Price'].mean(), 2)
avg_price.head()

#find total purchase value
total_purchase = df_group['Price'].sum()
total_purchase.head()

##dataframe formatting and sorting by total purchase value
dataframe = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_price, "Total Purchase Value": total_purchase})
dataframe

dataframe = dataframe.sort_values("Total Purchase Value", ascending=False)

data_format = dataframe.head().style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})
data_format

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [212]:
#groupby data Item ID and Item Name
df_group = df.groupby(['Item ID', 'Item Name'])
df_group

#calculations to obtain purchase count, item price, and total purchase value
purchase_count = df_group['Item ID'].count()
purchase_count

item_price = df_group['Price'].mean()
item_price

total_purchase = df_group['Price'].sum()
total_purchase

#dataframe formatting and sorting by purchase count
dataframe = pd.DataFrame({"Purchase Count": purchase_count, "Item Price": item_price, "Total Purchase Value": total_purchase})
dataframe

dataframe = dataframe.sort_values("Purchase Count", ascending=False)
dataframe.head()

data_format = dataframe.head().style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})
data_format

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [213]:
#groupby data Item ID and Item Name
df_group = df.groupby(['Item ID', 'Item Name'])
df_group

#calculations to obtain purchase count, item price, and total purchase value
purchase_count = df_group['Item ID'].count()
purchase_count

item_price = df_group['Price'].mean()
item_price

total_purchase = df_group['Price'].sum()
total_purchase

#dataframe formatting and sorting by total purchase value
dataframe = pd.DataFrame({"Purchase Count": purchase_count, "Item Price": item_price, "Total Purchase Value": total_purchase})
dataframe

dataframe = dataframe.sort_values("Total Purchase Value", ascending=False)
dataframe.head()

data_format = dataframe.head().style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})
data_format